* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  background: #03070d;
}
html,
body,
#root {
  min-height: 100%;
  margin: 0;
  padding: 0;

  background: #010207;
}

body {
  overflow-x: hidden;
}

.app-content {
  position: relative;
  z-index: 1;
  min-height: 100vh;
}